asgiref==3.4.1
certifi==2021.10.8
charset-normalizer==2.0.9
colorama==0.4.4
Django==3.2.9
django-cors-headers==3.10.1
idna==3.3
language-tool-python==2.6.2
pytz==2021.3
requests==2.26.0
sqlparse==0.4.2
tqdm==4.62.3
typing_extensions==4.0.1
urllib3==1.26.7
